

  <ion-header line="none">
    <ion-toolbar  color="danger">
      <ion-title>Trending movies</ion-title>
      <ion-searchbar color="danger" [(ngModel)]="searchTerm" show-clear-button="always" clear-icon="trash-bin" ></ion-searchbar>
    </ion-toolbar>
  </ion-header>

<ion-content  color="dark">
  <ion-list  color="dark">
    <ion-item color="dark" button *ngFor="let movie of movies | filter:searchTerm" [routerLink] = "[movie.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl +'/w92'+ movie.poster_path ">
      </ion-avatar>
      <ion-label>{{movie.title}}
        <p>
          {{movie.release_date |date:'y'}}
        </p>
      </ion-label>
      <ion-badge color="tertiary" slot="end">{{movie.vote_average}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite) = "loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
